extends layout

block content
	div(id="bar")
		include menu
	div(id="container") 
		div(id="column")
			div(id="top")
				div(id="main")
				div(id="controls")
					div(class="side")
						div(class="top")
						div(class="bottom")
					div(class="mid")
						div(class="top")
						div(class="bottom")
					div(class="side")
						div(class="top")
						div(class="bottom")
			div(id="bottom")
				div(id="list")
				div(id="chat")