block menu
div(id="menu")
	ul(class="menu-list")
		li: a(href="hq") HQ
		li: a(href="lexicon") Lexicon
		li: a(href="store") Store
		li: a(href="tech") Technology
		li: a(href="users") Find user
		li: a(href="logout") Logout
